# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE or editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore build and compiled files
node_modules/
build/
dist/
*.log

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore environment files
.env

# Ignore configuration files
*.config.js
config.js

# Ignore sensitive or private data
secrets.json
private.key

# Ignore backup files created by text editors or system tools
*~
*.swp
*.bak

# Ignore image thumbnails
*.thumb

# Ignore temporary files or caches
.tmp/
.cache/

# Ignore logs and temporary data
log/
temp/
