.ad-block {
    background-color: #f2f2f2;
    align-self: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: flex-grow ease-in-out 1s;
    margin: 16px 0;
    position: relative;
  }
  
  .grow {
    flex-grow: 1;
  }