

.articleAlign {
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
    border-radius: 32px;
}

.rightAlignment {
    position: absolute;
    inset: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.6) 98.9%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 24px;
    height: calc(100% - 48px);
}



p {
    font-family: Roboto Bold,sans-serif;
    margin: 0;
    padding: 0;
    color: black
}

.storybook-title {
    color: white
}

.storybook-title--web {
    color: black;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    overflow: hidden;
    color: black;
    font-family: 'Roboto' !important;
  }

  .storybook-title--meinestadt {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    overflow: hidden;
    color: black !important;
    font-family: 'Inter' !important;
  }